// tabs
// ===

// Configurable Variables
// ---

$tabs__variable-name: true !default;


// Dependencies
// ---

@import 'stencil-variables/variables';
@import 'level/level';


// Tabs root
// ---

.c-tabs {
    // Your component styles go here
}


// Tab
// ---

.c-tabs__tab {
    &.c--is-selected {
        color: red;
    }
}


// Tabpane
// ---

.c-tabs__pane {
    &.c--is-selected {
        color: red;
    }
}
